@font-face {
	font-family: "Poppins-Regular";
	src: url(fonts/Poppins-Regular.ttf);
	
}

@font-face {
	font-family: "Poppins-Bold";
	src: url(fonts/Poppins-Bold.ttf);
	
}

* {
	font-family: "Poppins-Regular";
}

body{
	background-color:black;
	color:white;
}

.imageContainer {
	width:50%;
}

.aboutUs {
	color:#03c04A
}

.Container {
	display:flex;
	flex-direction:row;
}

.companyNews {
	width:40%;
	margin-left: 15px;
}

.heading3 {
	color: #ff615d;
}

.date {
	color:#03c04A
}

#head {
	color:white;
	text-align:center;
	font-size:30px;
	
}

.navbarContainer{
	margin-bottom:30px;
	
	
	
}
.navbarStyle {
	/* background-color:white; */
	margin-bottom:30px;
	font-family:Poppins-bold;
	font-size: 25px;
	margin-right:10px;
	color: #5d8bff;
	

}

.welcomeContent {
	width:47%;
}



.footer{
	background-color:white;
	text-align:center;
	color: #ff615d;
	font-weight: 500;
	
}

.point {
	color: grey;
}

li {
	margin-bottom: 5px;
}

