@font-face {
	font-family: "Poppins-Regular";
	src: url(fonts/Poppins-Regular.ttf);
	
}

@font-face {
	font-family: "Poppins-Bold";
	src: url(fonts/Poppins-Bold.ttf);
	
}

* {
	font-family: "Poppins-Regular";
}

.titleForm{
	font-family: "Poppins-Bold";
	color: #03c04A;
	font-size: 30px;
}

.inputLabel {
	background-color: lightblue;
}

submitBtn{
	hover: #03c04A;
}



h1{
	text-align:center;
	font-size:40px;
	color: #f96161;
	font-weight: bold;
	
}
#B{
	color:blue;
	font-size:20px;
}

.footer{
	background-color:white;
	text-align:center;
	color: #ff615d;
	font-weight: 500;
	
}

body{
	background-color:black;
}

label{
	width:150px;
	display:inline-block;
	color:white;
}

#R{
	width:225px;
}

dis{
	color:white;
	
}

.back{
	color: #f96161;
	font-size: 30px;
}

.backContainer{
	margin-top: 20px;
	margin-left: 20px;
}

.buttonContainer {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 10%;

	
}

.submitBtn {
	background-color: #61f975;
	color: black;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

.resetBtn{
	background-color: #f76464;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
}