#A{
	text-align:center;
	font-size:30px;
	color:white;
	
}
#B{
	color:blue;
	font-size:20px;
}
.footer{
	background-color:grey;
	text-align:center;
	
}

body{
	background-color:black;
}

label{
	width:150px;
	display:inline-block;
	color:white;
}

#R{
	width:225px;
}

dis{
	color:white;
	
}